*{
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: "reamKufi";
  src: url("./assets/fonts/amiriItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: #29251c;
  font-family: "reamKufi", sans-serif;
}
header{
/* 
  border: 1px solid red; */
  height: 95vh;
  padding-bottom: 50px;
  position: relative;
}
.backImg{
  height: 100%;
  width: 100%;
}
.backImg img{
  box-shadow: 3px 3px 10px #16120f;
  width: 100%;
  height: 100%;
  filter: brightness(35%);
  z-index: -1;
  object-fit: cover;
}
.centerItem{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:80vh;
  width: 99%;
  position: absolute;
  z-index: 9999;
}
.centerItem h1{
  font-size: 3rem;
  font-family: "reamkufi";
  color: rgb(255, 255, 255);
}
.centerItem p{

  font-size: small;
  color: rgba(158, 158, 158, 0.678);
  font-family: "reamKufi";
}
.centerItem button{
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  background-color: #ffc404;
  color: #1d1a16;
  font-size:medium;

}
/* -----------Menu----------- */
.menu{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.lastItem div:last-child{
  grid-column: 1/-1;
  /* width: 90%;
  height: 10rem; */
}

.menu div{
  padding: 8px 0px;
  width: 75%;
  height: 8rem;
}

.menu li{
  list-style: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  height: 20%;
  
}
.menu img{
  width: 100%;
  height: 100%;
  filter: blur(1px);
  filter: brightness(50%);
  border-radius: 3%;
  box-shadow: 3px 3px 10px #16120f;
  object-fit: cover;
}
.menu a{
  height: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-detail{
  display: flex;
  justify-content: center;
  width: 100%;
}
.menu-border{
  padding: 4%;
  width: 100%;
  background-color: #3b2f2842;
  
  box-shadow: 3px 3px 10px #1d1d1d;
  border-radius: 3%;
  
}
.munu-detail-tilte{
  display: grid;
  justify-content: end;
  grid-template-columns: 35% 30% 35%;
  background-color: #1d1a16;
  padding: 3px 0px;
  place-items: center;
  border-radius: 5px;
  
}
.munu-detail-tilte h3{
  height:auto;
  padding: 5px;
  margin: 0px;
  color: whitesmoke;
}
.menu-border h1{
  background-color: hsl(46, 100%, 51%);
  text-align: center;
  border-radius: 7px;
  padding: 5px 0px;
  color: #1d1a16;
}
.menu-detail-menu{
  display: grid;
  justify-content: end;
  grid-template-columns: 35% 30% 35%;
  margin-bottom: 10px;
  align-items: center;
  background-color: #1d1a16;
  padding: 7px;
  border-radius: 5px;
}
.menu-detail-menu:hover{
  background-color: #ffc40475;
}
.menu-detail div div li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 2px;
  background-color: #312c1d;
  border-radius: 7px;
  list-style: none;
  text-align: center;
  color: white;
  justify-items: center;
}

.menu-detail div div li:first-child{
  color: #ffc404;
}
.menu-detail div div li:last-child{
  font-size: larger;
}
/*     Navigation         */
.Navigation{
  width: 100%;
  display: flex;
  justify-content: center;
}
.NavgationGrid{
  display: grid;
  grid-template-columns: repeat(8 , 36%);
  justify-content: start;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 95%;
  
}
.NavigationLink{
  margin-top: 16px;
  margin: 10px;
  width: 100%;
  position: relative;
}
.NavigationLink a{
  display: flex;
  justify-content: center;
  padding: 4px 10px;
  text-decoration: none;
  color: white;  
  height: 100%;
  display: flex;
  align-items: center;
}
.NavigationLink a h5{
    position: absolute;
  z-index: 9999;
}
.NavigationLink img{
  z-index: -1;
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 8px;
  filter: brightness(50%);
}
/* --------Modal-------- */

dialog[open] {
  position: fixed;
  inset: 0;
  margin: auto;
 
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.Modal{
  width: auto;
  border: none;
  transform: translate(-50% -50%);
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 10px;
  z-index: 100;
}
.Modal div{
  display: flex;
  justify-content: end;
}
.Modal div button{
  border: none;
  background-color: #16120f00;
}
.ModalInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ModalInfoDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-family: "reamKufi";
}
.ModalInfoDiv img{
  width: 20px;
  box-shadow: none;
  margin-top: 5px;
  filter: none;
}
.ModalInfoDiv a{
  text-decoration: none;
  color: black;
}
.ModalInfoDiv h3{
  font-weight: 500;
  font-size: large;
}
.ModalInfoDiv p{
  color: #16120fe0;
}
/* ----------------------- */
.action img{
  filter: brightness(90%);
}
/* ----------footer----------- */
.footer {
  font-size:0.85em;
  font-family: "reamKufi";
  width: 100%;
  margin-top: 20px;
  padding: 15px 0px;
  border-top: 2px solid #3d2a1f;
  box-shadow: 7px 7px 15px black;
  direction: rtl;
  background-color: #1a0f0871;
  color: #d4a76a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.information div {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 4px;
  width: 90%;
}
.information div img{
  width: 23px;
  box-shadow: none;
}
.information div p a {
  color: #ffd69c;
}
.map {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map iframe {
  width: 80%;
  border: 4px solid #d4a76a;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #5f4b2f;
}


/* ----------Responsive----------- */


@media only screen and (max-width: 720px){
  .footer {
    flex-direction: column;
  }
  .information {
    margin: 0 0 10px 0;
  }
  .information div {
    width: 60%;
  }
}
@media only screen and (max-width: 360px){
  
  .menu {
    grid-template-columns: 1fr;
  }
  .menu div{
    height: 6rem;
}
}