*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: #29251c;
  font-family: "Vazirmatn", sans-serif;
}
header{
/* 
  border: 1px solid red; */
  height: 80vh;
  padding-bottom: 50px;
  position: relative;
}
.backImg{
  height: 100%;
  width: 100%;

}
.backImg img{
  width: 100%;
  height: 100%;
  filter: brightness(30%);
  z-index: -1;
  object-fit: cover;
}
.centerItem{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
  width: 99%;
  position: absolute;
  z-index: 9999;
}
.centerItem h1{
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
.centerItem p{
  font-size: small;
  color: rgba(158, 158, 158, 0.678);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.centerItem button{
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  background-color: #ffc404;
  color: #1d1a16;
  font-size:medium;

}
/* -----------Menu----------- */
.menu{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.lastItem div:last-child{
  grid-column: 1/-1;
  width: 90%;
  height: 10rem;
}

.menu div{
  padding: 8px 0px;
  width: 9rem;
  height: 8rem;
}

.menu li{
  list-style: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  height: 20%;
  
}
.menu img{
  width: 100%;
  height: 100%;
  filter: blur(1px);
  filter: brightness(45%);
  border-radius: 3%;
  box-shadow: 3px 3px 10px #3b2f28;
  object-fit: cover;
}
.menu a{
  height: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-detail{
  display: flex;
  justify-content: center;
  width: 100%;
}
.menu-border{
  padding: 4%;
  width: 100%;
  background-color: #3b2f2842;
  
  box-shadow: 3px 3px 10px #1d1d1d;
  border-radius: 3%;
  
}
.munu-detail-tilte{
  display: grid;
  justify-content: end;
  grid-template-columns: 35% 30% 35%;
  background-color: #1d1a16;
  padding: 3px 0px;
  place-items: center;
  border-radius: 5px;
  
}
.munu-detail-tilte h3{
  height:auto;
  padding: 5px;
  margin: 0px;
  color: whitesmoke;
}
.menu-border h1{
  background-color: hsl(46, 100%, 51%);
  text-align: center;
  border-radius: 7px;
  padding: 5px 0px;
  color: #1d1a16;
}
.menu-detail-menu{
  display: grid;
  justify-content: end;
  grid-template-columns: 35% 30% 35%;
  margin-bottom: 10px;
  background-color: #1d1a16;
  padding: 7px;
  border-radius: 5px;
}
.menu-detail-menu:hover{
  background-color: #ffc40475;
}
.menu-detail div div li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 2px;
  background-color: #312c1d;
  border-radius: 7px;
  list-style: none;
  text-align: center;
  color: white;
}

.menu-detail div div li:first-child{
  color: #ffc404;
}
.menu-detail div div li:last-child{
  font-size: larger;
}

/*     Navigation         */
.Navigation{
  width: 100%;
  display: flex;
  justify-content: center;
}
.NavgationGrid{
  display: grid;
  grid-template-columns: repeat(8 , 36%);
  justify-content: start;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 95%;
  
}
.NavigationLink{
  padding-bottom: 10px;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.Navigation a{
  padding: 4px 10px;
  text-decoration: none;
  color: white;  
  box-shadow: 3.2px 3.2px 10px #1d1d1d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.action{
  background-color: rgba(105, 105, 105, 0.384);
  color: yellow;
}
@media only screen and (max-width: 360px){
  
  .menu {
  grid-template-columns: 1fr;
  }
}